h1{
    font-size: 54px;}
    h2{
    color: white;
    font-size: 40px;}
    body{
    font-family:'Times New Roman';
    background:#011627;
    font-size: 20px;
    color:red;
    text-align: center;
    border: 40px solid red;
    border-top: 0px;
    margin: 0px;
    }
    .image-style{
    height:400px;
    width:500px;
    }
    p{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: 30px;
    }
    
    
    input[type="text"] {
                width: 200px; 
                padding: 5px; 
                font-size: 20px; 
    
            }
    input[type="submit"] {
                width: auto; 
                padding: 10px 20px; 
                font-size: 30px; 
            }
     label {
                font-size: 30px; 
                display: block;  /* Ensures labels are on their own line */
                margin-bottom: 5px; /* Adds space below each label */
            }
            .sticker-background {
                position: absolute; /* Position relative to the body */
                top: 40px; 
                left: 40px; 
                width: 100px; 
                height: 100px; 
            }
    
            .sticker-background img {
                width: 100%; /* Make the image fit the container */
                height: 100%; /* Make the image fit the container */
                object-fit: cover; /* Ensures the image covers the area without distortion */
                cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
            }
    
            .button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #000;
                color: #fff;
                text-decoration: none;
                border-radius: 15px;
                margin-top: 15px;
                cursor: pointer;
            }
            
            .button-container {
                text-align: center; /* Center the button horizontally */
                margin-top: 20px; /* Add margin above the button */
            }